.section {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}
