.password {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.password__indicators {
  display: flex;
  gap: 5px;
}

.password__indicator-section {
  width: 20px;
  height: 20px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}
