.strength-indicator {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.strength-section {
  flex: 1;
  height: 10px;
  margin: 0 2px;
  background-color: gray;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
