<div>
  <label for="password-input">Enter Password:</label>
  <input
    type="password"
    id="password-input"
    [(ngModel)]="password"
    (input)="checkPasswordStrength()"
  />
</div>

<div
  class="strength-section"
  [ngClass]="{
    red: isPasswordEmpty() || password.length < 8,
    yellow: isPasswordMedium(),
    green: isPasswordStrong()
  }"
></div>
<div
  class="strength-section"
  [ngClass]="{ yellow: isPasswordMedium(), green: isPasswordStrong() }"
></div>
<div class="strength-section" [ngClass]="{ green: isPasswordStrong() }"></div>
