<div>
  <input
    type="password"
    [(ngModel)]="password"
    (input)="calculatePasswordStrength()"
    placeholder="Enter password"
  />
</div>

<div class="strength-indicator">
  <div
    class="strength-section"
    [ngClass]="{
      red: password.length === 0 || password.length < 8,
      gray: password.length >= 8
    }"
  >
    <span>Section 1</span>
  </div>
  <div
    class="strength-section"
    [ngClass]="{
      yellow: password.length >= 8 && password.length < 12,
      gray:
        password.length < 8 || (password.length >= 12 && strengthSection !== 2)
    }"
  >
    <span>Section 2</span>
  </div>
  <div
    class="strength-section"
    [ngClass]="{
      green: password.length >= 12 && strengthSection === 2,
      gray: password.length < 12
    }"
  >
    <span>Section 3</span>
  </div>
</div>
